.Button #search-btn-style {
  color: white;
  border-color: 0.5mm solid rgb(236, 110, 76, 0.85);
  background-color: rgb(236, 110, 76, 0.8);
}
.Button#search-btn-style:hover {
  background-color: rgb(72, 72, 74, 0.7);
}
